{% extends 'base.html' %}

{% block content %}
<h2>Add Report</h2>

<form method="GET" action="{{ url_for('main.add_report') }}">
    <input class="textbox" type="text" name="query" placeholder="Search by name" value="{{ request.args.get('query', '') }}"><br>
    <button type="search">Search</button><br>
</form>

{% if students %}
<form method="POST">
    <label for="student">Select Student:</label>
    <select class="textbox" name="student_id" id="student" required>
        <option value="">Select Student</option>
        {% for student in students %}
        <option value="{{ student.id }}">{{ student.name }}</option>
        {% endfor %}
    </select><br>

    <label for="offense_type">Offense Type:</label>
    <select class="textbox" name="offense_type" id="offense_type" required>
        <option value="">Select Offense Type</option>
        {% for purpose in purposes %}
        <option value="{{ purpose }}">{{ purpose }}</option>
        {% endfor %}
    </select><br>

    <label for="description">Description:</label>
    <textarea class="textarea" id="description" name="description" required></textarea><br>
    <button type="report">Add Report</button>
</form>
{% endif %}
{% endblock %}