{% extends 'base.html' %}

{% block content %}
<h2>Add Report</h2>

<form method="GET" action="{{ url_for('main.index') }}">
    <input type="text" name="query" placeholder="Search by name" value="{{ query }}"><br>
    <button type="search">Search</button><br>
    <select name="offensetype">
        <option value="">Offense Types</option>
        {% for purpose in purposes %}
        <option value="{{ purpose }}" {% if purpose_filter == purpose %}selected{% endif %}>{{ purpose }}</option>
        {% endfor %}
    </select>
    
</form>
<form method="POST">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br>
    <button type="submit">Add Report</button>
</form>
{% endblock %}