<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Guidance Counselor's Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <main>
        <a href="{{ url_for('main.manage_records') }}" class="capsule-button">Manage Records</a>
        <a href="{{ url_for('main.add_report') }}" class="capsule-button">Add Report</a>
        <a href="{{ url_for('main.logout') }}" class="logout-button">Logout</a>
    </main>
</body>
</html>