<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guidance Counselor's Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</head>
<body class="bgimage" style="background-image: url('{{ url_for('static', filename='images/school_bg.jpeg') }}');">
    <header>Welcome!</header>
    <header class="mainfront">
        <h1>BSSAA Guidance Hub</h1>
        
    </header>
    <p class="subheader">Welcome Back!</p>

    <form method="POST">
        <label for="email">Email:</label>
        <input class="textbox" type="email" id="email" name="email" required><br>
        <label for="password">Password:</label>
        <input class="textbox" type="password" id="password" name="password" required><br>
        <input type="checkbox" onclick="togglePasswordVisibility()"> Show Password<br>
        <button type="login">Login</button>
    </form>
    <p>Don't have an account yet? <a href="{{ url_for('main.registration') }}" class="capsule-button">Register</a></p>
</body>
</html>