{% extends 'base.html' %}

{% block content %}

<h2>Student Profile</h2>
<div class="profile-container">
    <div class="profile-picture">
        <img src="{{ url_for('static', filename='profilepic/' + (student.profile_picture or 'profile_placeholder.png')) }}" alt="Profile Picture" width="150" height="150">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="photo" accept="image/*">
            <button type="upload" class="btn btn-primary btn-sm">Upload</button>
        </form>
        <h1 class="smallnote">Only upload a 2x2 image.</h1>
    </div>
    <div class="profile-details3">
        <h4><strong>Name:</strong> {{ student.name }}</h4>
        <h4>LRN: {{ student.lrn }}</h4>
    </div>
</div>

<div class="profile-container">
    <div class="profile-details2">
        <p><strong>Grade & Section:</strong> {{ student.grade_section }}</p>
        <p><strong>Birthday:</strong> {{ student.birthdate }}</p>
        <p><strong>Address:</strong> {{ student.address_house_no }}, {{ student.address_barangay }}, {{ student.address_city }}, {{ student.address_province }}</p>
    </div>
    <div class="profile-details2">
        <p><strong>Father's Name:</strong> {{ student.father_name }}</p>
        <p><strong>Father's Contact:</strong> {{ student.father_contact }}</p> <!-- Add this line -->
        <p><strong>Mother's Name:</strong> {{ student.mother_name }}</p>
        <p><strong>Mother's Contact:</strong> {{ student.mother_contact }}</p> <!-- Add this line -->
        <p><strong>Guardian's Name:</strong> {{ student.guardian_name }}</p> <!-- Add this line -->
        <p><strong>Guardian's Contact:</strong> {{ student.guardian_contact }}</p> <!-- Add this line -->
        <p><strong>Date and Time:</strong> {{ student.date_time }}</p>
    </div>
</div>

<div class="proftable">
<h3>Offense History</h3>

<table class="table table-striped table-responsive">
    <tr>
        <th>Offense Type</th>
        <th>Reason</th>
        <th>Additional Info</th>
        <th>Date and Time</th>
    </tr>
    {% for offense in offenses %}
    <tr>
        <td>{{ offense.offense_type }}</td>
        <td>{{ offense.reason }}</td>
        <td>{{ offense.additional_info }}</td>
        <td>{{ offense.date_time }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}