{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSSAA Guidance Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<main class="mainfont">
    
</main>
<h2>Student Records</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Grade & Section</th>
        <th>Birthday</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    {% for record in records %}
    <tr>
        <td>{{ record.name }}</td>
        <td>{{ record.grade_section }}</td>
        <td>{{ record.birthday }}</td>
        <td>{{ record.address }}</td>
        <td><a href="{{ url_for('main.view_profile', student_id=record.id) }}">View Profile</a>
            <a href="{{ url_for('main.add_student') }}">Add Student Record</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}