[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-login = "*"
flask-uploads = "*"
python-dotenv = "*"
gunicorn = "*"
werkzeug = "==0.16.0"
datetime = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
