.manage-students-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .manage-students-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .grade-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .grade-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .grade-button.active {
    background-color: #004ea1;
  }
  
  .students-table-container {
    margin-top: 20px;
  }
  
  .students-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .students-table th,
  .students-table td {
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .students-table th {
    background-color: #3498db;
    color: #fff;
  }
  
 
  
  .button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.uploadbutton {
  padding: 5px 15px;
  border: none;
  background-color: #96fb9e;
  color: rgb(29, 41, 29);
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  position: relative;
  right: 6%;
}

/* Specific styles for hover effects */
.button:hover {
    background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #a71d2a;
}

.delete-all-button {
  background-color: #6c757d;
}

.delete-all-button:hover {
  background-color: #5a6268;
}

.search-container {
  display: flex; /* Align input and button horizontally */
  display: block; /* Ensure it takes up the full width */
  margin: 10px 0; /* Add some spacing above and below */
}

.search-container input {
  flex: 1; /* Allow the input to take up available space */
  width: 50%; /* Make the search bar as wide as the container */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.search-container .button {
  margin-left: 10px; /* Add spacing between the input and button */
}

.students-table tr.selected {
  background-color: #bbdffe;
}