.manage-students-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .manage-students-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .grade-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .grade-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .grade-button.active {
    background-color: #0056b3;
  }
  
  .students-table-container {
    margin-top: 20px;
  }
  
  .students-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .students-table th,
  .students-table td {
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .students-table th {
    background-color: #3498db;
    color: #fff;
  }
  
 
  
  .button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

/* Specific styles for hover effects */
.button:hover {
    background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #a71d2a;
}

.delete-all-button {
  background-color: #6c757d;
}

.delete-all-button:hover {
  background-color: #5a6268;
}