body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    flex: 1;
}

footer {
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

header {
    background: #38B6FF;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;


}

p {
    padding: 10px;
}

h2 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #ffde59;
}
a:hover {
    text-decoration: underline;
}

.bgimage{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.301);
    background-blend-mode: lighten;
}

.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    top: 50px;
    font-size: 150%;
    color: #ffde59;
    background: #38B6FF;
    margin: auto;
    border-radius: 40px;
    padding: 10px;
    width: 250px;
    height: 60px;
}

.logout {
    background: #000000;
    color: #ffffff;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    left: 90%;
    top: -280px;
    font-size: 100%;
}

.mainfont {
    font-family: ROBOTO-VARIABLE-FONT, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
}

table {
    border: 1px solid #000000;
    width: 95%;
    border-collapse: collapse;
    margin: 20px 0;
    position: absolute;
    left: 30px;

    
}

table th, table td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #38B6FF;
    color: white;
}

table tr:nth-child(even) {
    background-color: #929292;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #35424a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form {
    font-family: ROBOTO-VARIABLE-FONT, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    padding: 10px;
    font-size: 20px;
}  
button[type="submit"]{
    font-family: ROBOTO-VARIABLE-FONT, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    font-weight: bold;
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px 65px;
    position: absolute;
    right: 70px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #393939;
}

button[type="search"]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    left: 450px;
    top: 223px;
    cursor: pointer;
    padding:10px;
    width: 100px;
    height: 50px;
}

input[type="text"], input[type="date"], input[type="time"], select {
    width: 30%;
    border: 1px solid #000000;
}

.textboxsmall {
    padding: 10px;
}

.textbox {
    padding: 15px;
}

.textarea{
    width: 30%;
    padding: 45px;
    border: 1px solid #000000;
    resize: none;
}

input[type="submit"] {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.profile-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-picture {
    margin-right: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-details {
    font-size: 16px;
}