body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;


}

p {
    padding: 10px;
}

h2 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #626c78;
}
a:hover {
    text-decoration: underline;
}

.mainfont {
    font-family: ROBOTO-VARIABLE-FONT, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, .table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #35424a;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #35424a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form {
    font-family: ROBOTO-VARIABLE-FONT, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    padding: 10px;
    font-size: 20px;
}  
button[type="submit"]{
    font-family: ROBOTO-VARIABLE-FONT, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    font-weight: bold;
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px 65px;
    position: absolute;
    right: 70px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #393939;
}

input[type="text"], input[type="date"], input[type="time"], select {
    width: 30%;
    padding: 15px;
    border: 1px solid #000000;
    
}
textarea{
    width: 30%;
    padding: 15px;
    border: 1px solid #000000;
    resize:none;
}

input[type="submit"] {
    background-color: #35424a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}